name: Build and Push Snapshot ETL

on:
  push:
    tags:
      - 'v*'  # Лише на глобальні теги для продакшн білдів

jobs:
  check-label:
    runs-on: ubuntu-latest
    outputs:
      build_snapshot_etl: ${{ steps.check_label.outputs.shouldBuild }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Pull Request and Check for Label
        id: check_label
        uses: actions/github-script@v6
        with:
          script: |
            const pr = await github.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed',
              per_page: 1,
              sort: 'updated',
              direction: 'desc'
            });
            
            if (pr.data.length > 0 && pr.data[0].labels.some(label => label.name === 'build-snapshot-etl')) {
              return { shouldBuild: 'true' };
            } else {
              return { shouldBuild: 'false' };
            }
        env:
          GITHUB_OUTPUT: ${{ github.output }}
        
      - name: Set build flag
        run: echo "build_snapshot_etl=${{ steps.check_label.outputs.shouldBuild }}" >> $GITHUB_OUTPUT

  build-etl:
    runs-on: ubuntu-latest
    needs: check-label
    if: needs.check-label.outputs.build_snapshot_etl == 'true'
    steps:
      - name: Debugging Output
        run: |
          echo "::debug::Checking if the job should run based on the output"
          echo "build_snapshot_etl=${{ needs['check-label'].outputs.build_snapshot_etl }}"

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker Image for Snapshot ETL
        env:
          APP: "solana-snapshot-etl"
          REGISTRY: ghcr.io/${{ github.repository_owner }}
        working-directory: plerkle_snapshot
        run: make build push

      - name: Clean
        run: make clean
