# Source:
# https://github.com/solana-labs/solana-accountsdb-plugin-postgres/blob/master/.github/workflows/test.yml

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  IMAGE_NAME: plerkle-test-validator
  RUST_VERSION: 1.83.0
  SOLANA_VERSION_STABLE: v2.1.11

jobs:
  test-stable:
    runs-on: ubuntu-20-04-8-cores
    steps:
      - uses: actions/checkout@v4
      - name: Set env vars
        run: |
          source ci/env.sh
          echo "GEYSER_PLUGIN_NAME=$plugin_name" | tee -a $GITHUB_ENV
          echo "GEYSER_PLUGIN_LIB=lib${plugin_lib_name}" | tee -a $GITHUB_ENV
      - if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get upgrade
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo apt-add-repository "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-10 main"
          sudo apt-get update
          sudo apt-get install -y libudev-dev libssl-dev libsasl2-dev libzstd-dev
          sudo apt-get install -y openssl --allow-unauthenticated
          sudo apt-get install -y libssl1.1 --allow-unauthenticated
          sudo apt-get install -y protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}
          override: true
          profile: minimal
          components: rustfmt, clippy
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: cargo-build-${{ hashFiles('**/Cargo.lock') }}-${{ env.RUST_STABLE}}
      - name: cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets #-- --deny=warnings
      - name: Build
        run: ./ci/cargo-build-test.sh
